// Dark theme
$backgroundDark: #152433;
$sidebarDark: #22334b;
$textDark: #fff;

// Bright theme
$backgroundBright: rgba(255, 255, 255, 0.856);
$sidebarBright: #f3f4f5d2;
$textBright: #2a2c2f;

// Brand
$brandPrimary: #f0a61d;
